/*------------------------------HTML------------------------------*/

html{
    height: 100%;
}

/*------------------------------BODY------------------------------*/

body{
    margin: 0;
    display: flex;
    font-family: Verdana, sans-serif;
    flex-direction: column;
    justify-content: space-between;
    height : 100%;
    background-image: url("../IMG/background.png");
    background-color: #43aa8b;
}

body button:hover, .btn:hover{
    cursor : pointer;
}

/*------------------------------HEADER------------------------------*/

#connecte{
    display : flex;
    flex-direction: row;
    gap : 30px;
}

#create{
    font-size: 15px;
}

header{
    color: #f0544f;
    font-size: 35px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 10px;
    background-color : salmon;
}

header a{
    text-decoration: none;
    color : #f0544f;
}

#liens{
    display : flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    background-color: antiquewhite;
}

.lien:hover{
    color: #fc7c7c;
}

#loginAdmin{
    float : right;
    font-size: 15px;
    margin-right: 5px;
}

#menu{
    display: flex;
    gap: 40px;
    padding-left: 5px;
}

#spat{
    max-height: 25px;
    max-width: 25px;
    padding-top: 10px;

}
#titlelogo{
    display: flex;
    padding-left: 5px;
    gap: -40px;
    border-radius: 10px;
    background-color: antiquewhite;
}

/*------------------------------MAIN------------------------------*/
#barrerecherche{
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

#bloc{
    display: flex;
    height : 320px;
    gap : 5%;
}

#blocGauche{
    display: flex;
    flex-direction: column;
    gap : 20px;
    width : 45%;
}

#bordureconnexion{
    border : #f0544f 2px solid;
    display: flex;
    flex-direction: column;
    width : 500px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 228, 196);
}

#boutons{
    display: flex;
    justify-content: center;
}

#Labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 65%;
    padding-right : 15px;
}

#connexion{
    display: grid;
    justify-content: center;
    max-width: 200px;
    border: solid #c2c2c2 5px;
    border-radius: 5px;

}

#content{
    display: flex;
    flex-direction: column;
    width : 80%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    opacity : 0.9;
}

#ControleBoutonIngr{
    display: flex;
    gap : 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ControleBoutonIngr div{
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border : none;
    color : white;
    font-size : 1.5em;
    width : 30px;
    height : 30px;
}

#ControleBoutonTag{
    display: flex;
    gap : 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.create{
    color: #f0544f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 20px;
}

.create input{
    height : 30px;
    padding : 5px;
    font-size : 1.5em;
    text-align: center;
}

.create input:focus,textarea:focus{
    outline : none;
}

.create input,textarea{
    background-color : transparent;
    border : none;
    border-bottom : black solid 1px;
}

.Croix{
    background-color: #c90000;
    color : white;
    width : 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

#DescriptionIngredients{
    display: flex;
    justify-content: space-between;
    height : 200px;
}

#DisabledTags{
    display: flex;
    width : 100%;
    height : auto;
    flex-wrap: wrap;
    align-items: end;
    gap : 5px;
}

#DisabledTags input{
    width : 80px;
    border : none;
    color : black;
    font-size : 1em;
}

#DivTags{
    display: flex;
    flex-direction: row;
    gap : 50px;
}

.error404{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    font-size: 30px;
    color: red;
}

#form{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

#FormDesc textarea{
    font-size : 1.5em;
    height : 80px;
}

#FormTag{
    display: flex;
    flex-direction: column;
    width : 130px;
}

#FormTag input{
    width : auto;
}

#FormIngredient{
    display : flex;
    flex-direction: column;
}

#form-group{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#identifiant{
    min-height: 50px;
}

.ImageGroup{
    position : relative;
    width : 50px;
    height : 100%;
}

.informations{
    width : 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 20px 20px 0;
}


#IngredientMoins{
    background-color : #ac0000;
    border-radius: 5px;
    border : none;
    color : white;
    text-align : center;
    width : 22px;
}

#IngredientPlus{
    background-color : dodgerblue;
    border-radius: 5px;
    border : none;
    color : white;
    text-align : center;
    width : 22px;
}

#IngredientsGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#IngredientsTest{
    overflow: hidden;
}

.inputIng{
}

.input-group{
    display : flex;
    flex-direction: column;
    gap : 10px;
}

#main{
    height : 100%;
    min-height: 85vh;
    width : 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#MainForm{
    padding : 15px 50px 15px 50px;
}

#main-title{
    float: left;
    padding-right: 5px;
}

#motdepasse{
    min-height: 50px;
}

#nvxrecette{
    display: grid;
    justify-content: center;
    color: #f0544f;
}

.recette{
    display : flex;
    width : 100%;
    height : 240px;
    background-color: salmon;
    border-radius : 20px;
    border : solid 1px #D3D3D3;
    color : black;
    margin-bottom: 10px;
}

.recette:hover{
    transform : scale(1.04);
    transition-duration: 0.05s;
}

.recette:not(:hover){
    transition-duration: 0.05s;
}

#recetteCree{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-size: 30px;
    color: green;
}

.recette img{
    border-radius: 20px 0 0 20px;
    height : 240px;
    width : 30%;
}

#reset{
    background-color: #ac0000;
}

#Resultats{
    display: flex;
    height: 100%;
    min-width: 100%;
    flex-direction: column;
}


.Resultats-Categorie{
    display: flex;
    flex-direction: column;
    margin: 15px 30px 15px 30px;
    gap: 10px 20px;
    justify-content: start;
}

.Resultats-Categorie:last-child{
    padding-bottom : 50px;
}

#SortSearchForm{
    margin: 0px 30px 15px 30px;
}

#BoutonsRecherche{
    display : flex;
    gap : 10px;
}

#SortSearchForm input{
    background-color : #98FF98;
    border-radius: 15px;
    padding : 10px;
    font-size : 1.1em;
}

#SortSearchForm input:hover{
    cursor : pointer;
}

.searchbar{
    width: 450px;
    border-radius: 50px;
    padding : 5px 5px 5px 20px;
    height : 30px;
    font-size : 1.2rem;
    border : solid 2px #D3D3D3;
    outline : none;
}

#Soumettre{
    min-width: 500px;
    font-size: 15px;
}

#submit{
    background-color: #98FF98;
    color : black !important;
    padding : 10px 50px 10px 50px;
    font-size : 1.4rem;
    border-radius: 15px;
}

.tagGroup{
    display: flex;
    border : 1px solid #114b6e;
    border-radius: 10px;
}

#TagMoins{
    background-color : #ac0000;
}

#TagPlus{
    background-color : dodgerblue;
}

#text-login{
    font-size: 25px;
    text-align: center;
}

#titleImage{
    display: flex;
    justify-content: space-evenly;
    gap : 60px;
    align-items: center;
}

.titre{
    padding : 0px;
    margin : 0px;
    padding-left: 10px;
    background-color: salmon;
    border-radius : 0 20px 0px 0;
    color : white;
}


#valideimage{
    max-width: 25px;
    max-height: 25px;
}


#valider{
    background-color: #f0544f;
    border-radius: 100px;
    padding : 8px;
    display : flex;
    justify-content: center;
}

#valider:hover{
    background-color: #f3413a;
}

.lienRecette{
    margin : 0;
    width : 80%;
    text-decoration: none;
    justify-content : start;
}

#RecetteComplete{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width : 70%;
    margin : 20px 10% 10px 10%;
    background-color: salmon;
    border-radius: 20px;
    color : bisque;
}

#titre{
    text-align: center;
    font-size : 3em;
    padding : 5px;
}

#IngEtImage{
    display : flex;
    justify-content: space-between;
    margin : 0 5% 0 0%;
    padding : 5% 0 5% 0;
}

#Ingredients{
    display : flex;
    flex-direction: column;
}

#image img{
    width : 150px;
    height : 150px;
}

#image{
    position : absolute;
    top : 25px;
    width : 150px;
    height : 150px;
    border-bottom:none;
    border-radius: 15px;
    margin-bottom : 10px;
    opacity: 0;
}

#ImageImg:hover{
    cursor : pointer;
}

#imageRecette img{
    width : 200px;
    height : 200px;
    border: solid black 1px;
    border-radius: 15px;
    font-size: initial;
}


#ImageImg{
    width : 150px;
    height : 150px;
    background-image : url("../IMG/add_image.svg");
    background-size: cover;
    background-position: center;
    border: solid black 1px;
    border-radius: 15px;
}

#Tags{
    margin : 0 5% 0 5%;
    overflow: hidden;
    padding : 3% 0 3% 0;
    display: flex;
    flex-wrap: wrap;
}

.BlocRecette{
    margin : 0 5% 0 5%;
    padding : 3% 0 3% 0;
    display: flex;
    flex-wrap: wrap;
}

.recetteTotale{
    display: flex;
    justify-content: space-between;
}


.BoutonsRecette{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: salmon;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.BoutonsRecette a{
    display: flex;
    text-decoration: none;
    height: 20%;
}

.Modifier{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #f0544f;
    font-weight: bold;
    box-shadow: 5px 5px 1px #ff443d;
}

.Modifier:hover{
    background-color: #98FF98;
}


.Supprimer{
    display: flex;
    margin : auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #f0544f;
    font-weight: bold;
    box-shadow: 5px 5px 1px #ff443d;
}

.Supprimer:hover{
    background-color: #98FF98; /* b9e1ff*/
}





#description.form-control{
    resize: vertical;
}

#error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: start;
    order: 1;
    font-size: 25px;
    color: red;
    font-weight: bold;
}


#Instruction.form-control{
    height : 90px;
    font-size : 1.5em;
    resize: vertical;
    margin: 0;
}



#AdvancedSearchForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border : #f0544f 2px solid;
    width : 500px;
    margin: auto;
    background-color: rgb(255, 228, 196);
    border-radius: 5px;
    gap: 5px;
}

#AdvancedSearchForm h2{
    margin: 0;
    text-align: center;
}

#BoutonAvancedSearch{
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

.Tag{
    display: flex;
    margin-right: 10px;
    background-color : #98FF98;
    border-radius: 5px;
    border: none;
    padding : 5px;
    font-size: 1.1em;
    cursor : pointer
}


.tagRender{
    border-radius: 20px;
    color : white;
    background-color: salmon;
    display: flex;
    align-items: center;
}

.titreTag{
    padding : 15px;
    margin : 0;
}

.Modifier:hover{
    transform : scale(1.04);
    transition-duration: 0.05s;
}

.Modifier:not(:hover){
    transition-duration: 0.05s;
}

.Supprimer:hover{
    transform : scale(1.04);
    transition-duration: 0.05s;
}

.Supprimer:not(:hover){
    transition-duration: 0.05s;
}


.ingredients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.Ing img{
    height : 50px;
    width : 50px;
}



.Description-Ing{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    gap: 15px;
}


.DivCreationIngredient{
    display : flex;
    gap : 10px;
}

.DivCreationIngredient input{
    max-height : 22px;
    width: 250px;
}

.saison{
    width : 150px !important;
}

.ImageForm{
    display: flex;
    width:50px;
    height:40px;
    position: relative;
}

#ImageForm{
    position : relative;
}

.ImageIng{
    opacity: 100;
    width : 100%!important;
    height : 100% !important;
    border-radius: 5px;
    border : black solid 1px;
}

.imgIng{
    position: absolute;
    width : 100%;
    height : 100%;
    border : black 1px solid;
    opacity: 100;
}

.image:hover{
    cursor : pointer;
}

.image{
    position : absolute;
    opacity: 0;
    width : 100%!important;
    height : 100%!important;
}



#createIngredient{
    color: #f0544f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 20px;
}

#createIngredient input{
    width : 150px;
}

.create input{
    height : 30px;
    padding : 5px;
    font-size : 1.5em;
    text-align: center;
}

.create input,textarea{
    background-color : transparent;
    border : none;
    border-bottom : black solid 1px;
}

.create input:focus,textarea:focus{
    outline : none;
}

#IngredientForm{
    padding : 15px 50px 15px 50px;
    display : flex;
    justify-content: center;

}

#IngredientForm input{
    width : 500px;
}

#IngredientForm #image{
    top : 0px;
    width : 100%;
    height : 100%;
    padding : 0px;
    cursor : pointer;
}

#IngredientForm .ImageForm{
    width : 150px;
    height : 150px;
}

#ImageGroupIng{
    align-items : center;
}

#form2{
    display: flex;
    justify-content : center;
    align-items:center;
    order: 2;
    height: 100%;
}

/*------------------------------FOOTER------------------------------*/

footer{
    display: flex;
    height: 30px;
    justify-content: center;
    background-color: #ff6f59;
    min-width: 100%;
    align-items: center;
}

footer a{
    color : white;
    text-decoration: none;
}
